Hotels.xsd

<!-- <?xml version="1.0" encoding="UTF-8" ?> -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="https://www.w3schools.com" targetNamespace="https://www.w3schools.com" elementFormDefault="qualified">
    <!-- <xsd:annotation>
        <xsd:documentation xml:lang="en"> Hotel Schema Assignment 4 XML
        </xsd:documentation>
    </xsd:annotation> -->
    <xsd:element name="Hotels" type="HotelsType"/>
    <xsd:complexType name="HotelsType">
        <xsd:sequence>
            <xsd:element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HotelDetails">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Phone" type="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="Rating" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="Number" type="xsd:string"/>
            <xsd:element name="Street" type="xsd:string"/>
            <xsd:element name="City" type="xsd:string"/>
            <xsd:element name="State" type="xsd:string"/>
            <xsd:element name="Zip" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    </xsd:complexType>
    <!--  Define the allowed format for the Phone number with a regular exp.  -->
    <xsd:simpleType name="PhoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}\-\d{3}-\d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>